[flake8]
max-line-length = 120
max-doc-length = 120
extend-ignore =
    # E203: Whitespace before ':' (pycqa/pycodestyle#373)
    E203,
extend-exclude =
    # Make sure to ignore test resources
    tests/fixtures/*,
    tests/**/fixtures/*,
